@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;400i&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");

/* 
This works with the 'opacity-0' and 'translate-y-10' classes in the code 
Used in the service-related pages
*/
.visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

/* 
body {
  margin: 0;
}

h1,
h2,
h3, h4, h5, h6, p, span, div, a, li, button, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Roboto', sans-serif !important;
}

body {
  font-size: 17px !important;
  background-color: #f8f8f8;
}


.app-content {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 3.5rem !important;
  font-weight: bold !important;
  margin-bottom: 1rem !important;

}

h2 {
  font-size: 2.5rem !important;
  font-weight: bold !important;
  margin-bottom: 1rem !important;

}

h3 {
  font-size: 2rem !important;
  font-weight: bold !important;
  margin-bottom: 1rem !important;

}

h4 {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  margin-bottom: 1rem !important;
}

h5 {
  font-size: 1.25rem !important;
  font-weight: bold !important;
  margin-bottom: 1rem !important;
}

h6 {
  font-size: 1rem !important;
  font-weight: bold !important;
  margin-bottom: 1rem !important;
} */


/*colors*/
/* :root {
  --white: #fff; 
  --dark-grey: #333;
  --light-blue-with-opacity: #0058AB99;
  --dark-blue: #003366;
} */
